.sidebar {
  min-width: 5rem;
  width: clamp(80px, 10vw, 100px);
  height: 100vh;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  box-shadow: 0 0 1rem rgb(26 26 44 / 5%);
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar__menu {
  display: flex;
  flex-flow: column nowrap;
}
.sidebar__icon {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
}

.sidebar__menuItem {
  margin: 1rem auto;
  position: relative;
}

a {
  text-decoration: none;
  color: #1a1a2c;
}

.sidebar__menuIcon {
  transform: scale(0.9);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.sidebar__menuItem.active .sidebar__menuIcon {
  fill: #1a1a2c !important;
  stroke: transparent !important;
}
